<h1>Welcome to Red.it!</h1>


<% if logged_in? %>
 <p> <%= link_to "Add Article", new_user_article_path(current_user) %> </p>
<% end %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article.url %>
      <%= article.created_at %>
      <%= link_to article.user.username, user_path(article.user) %>
    </li>
  <% end %>   
</ul>


